/* Base mobile-first styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  color: rgb(216, 15, 15);
}

.header .logo img {
  max-width: 80%;
  height: 50px/* Corrected height with units */
}

header h1 {
  text-align: center;
  margin: 0;
  font-weight: bold; /* Corrected font weight */
  font-size: 48px;
}

nav ul {
  text-align: right;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  font-size: 16px;
}

.hero {
  position: relative;
  background-color: brown;
  color: white;
  padding: 40px;
  text-align: justify;
}

.hero h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
  overflow: hidden;
}

.service h2 {
  font-size: 28px;
  text-align: center;
}

.hero p {
  font-size: 18px;
  line-height: 1.6;
  overflow-wrap: break-word; /* Corrected to preferred syntax */
}

.btn-primary {
  padding: 10px 20px;
  background-color: #e76f51;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.service-card {
  background-color: rgb(150, 39, 39);
  padding: 20px;
  color: white;
  position: relative;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjusted shadow color */
}

.service-card h3 {
  font-size: 22px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

footer .social-media a {
  margin-right: 10px;
}

footer .social-media img {
  width: 15px;
  height: 15px;
}

/* Larger screen styles using media queries */
@media screen and (min-width: 600px) {
  nav ul li {
    margin-right: 30px;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }

  .service-card {
    display: inline-block;
    width: 30%;
    margin: 10px 1%;
    vertical-align: top;
  }

  .service-card h3 {
    font-size: 24px;
  }

  footer .social-media a {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .service-card {
    width: 22%;
    margin: 10px 1%;
  }

  footer .social-media a {
    margin-right: 20px;
  }
}
